body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles for Home Page */
.home-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.home-card {
    flex: 0 1 calc(31% - 1em);
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
}

.home-card-image {
    display: block;
    max-width: 50%;
    height: auto;
    object-fit: cover;
    margin-right: 10px;
}

.home-card-content {
    max-width: 50%;
    margin-left: 10px;
}

/* Styles for Review Page */
.container {
    width: 90%;
    margin: 0 auto;
}

.review-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2em;
    justify-content: center;
}

.review-text {
    margin-left: 2em;
}

.review-image {
    width: 30%;
    height: auto;
    object-fit: cover;
}

.scrollable-content {
    max-height: 400px;
    overflow-y: auto;
    margin-top: 1em;
}
.similar-albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.similar-album {
    display: flex;
    width: 30%;
    border: 1px solid #ccc;
    margin-bottom: 1em;
    padding: 1em;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: flex-start;
}

.album-info {
    margin-left: 1em;
    flex: 1;
    word-wrap: break-word;
}

.similar-image {
    width: 150px;
    height: auto;
    object-fit: cover;
    margin-bottom: 1em;
}


.search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search-result {
    flex: 0 1 calc(31% - 1em);
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-result img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.search-result h2 {
    margin: 10px 0;
}

.search-result h3 {
    margin: 0;
}

.search-result p {
    margin: 10px 0;
}

h2, h3 {
    margin-bottom: 0.5em;
}

/* Button and Pagination Styles */
.btn {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
}

.btn:hover {
    background-color: #f2f2f2;
}

.pagination {
    text-align: center;
    margin: 20px 0;
}
