<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container">
        <!-- Review info -->
        <div class="review-section">
            <img class="review-image" src="{{ review.album_art_url }}" alt="Album image">
            <div class="review-text">
                <h2>{{ review.artist }} - {{ review.album }}</h2>
                <h4>Genre: {{ review.genre }}</h4>
                <h4>Rating: {{ '%.1f' | format(review.rating) }}</h4>
                <div class="scrollable-content">
                    <p>{{ review.review }}</p>
                </div>
            </div>
        </div>
        <!-- Similar Albums -->
        <h2>Similar Albums:</h2>
        <div class="similar-albums">
            {% for album in similar_albums %}
                <div class="similar-album">
                    <img class="similar-image" src="{{ album.album_art_url }}" alt="Similar Album image">
                    <div class="album-info">
                        <h3>{{ album.artist }} - {{ album.album }}</h3>
                        <h4>Genre: {{ album.genre }}</h4>
                        <h4>Rating: {{ '%.1f' | format(album.rating) }}</h4>
                        <div class="scrollable-content">
                            <p>{{ album.small_text }}</p>
                        </div>
                        <center><a href="/review/{{ album['artist'] }}/{{ album['album'] }}" class="btn">Read Full Review</a></center>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>
